$font-size: 13px;
$line-height: $font-size+2px;
$color: #fff;
$background: #2f2336;
$font-family: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  background: $background;
  font-family: $font-family, sans-serif;
  font-weight: normal;
  font-style: normal;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*================================>> FONTS  <<========================================*/

.ptsans{
  font-family: 'PT Sans', sans-serif;
}

//цвета выделения
::selection,
::-moz-selection {
  background: #000;
  color: #fff;
}

.clear, .clearfix {
  clear: both;
  float: none;
}

//абзацы
p {
  margin: 0 0 15px 0;
  min-height: 1px;
}

//ссылки
a {
  color: $color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

/*----------------------> Basic Classes <------------------*/
  .reg {text-transform:uppercase}
  .f_left {float:left}
  .f_right {float:right}
  .al_left{text-align: left;}
  .al_right {text-align:right}
  .al_center {text-align:center}

  .td_und{text-decoration: underline;}
  a.td_und:hover{text-decoration: none;}

  .txt_bold{font-weight: bold;}
  .txt_italic{font-style: italic;}
  .txt_tdund{text-decoration: underline;}

  .img_box{img{max-width: 100%;}}

/*----------------------> Indents Zero <------------------*/

  .m_b_zero{ margin-bottom:0 !important;}
  .m_l_zero{ margin-left:0 !important;}
  .p_b_zero{ padding-bottom:0 !important;}
  .p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
  .p_abs{position: absolute;}
  .p_rel{position: relative;}
  .p_fix{position: fixed;}
  .clear {clear:both;width:100%;line-height:0;font-size:0;}
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .wrapper {overflow:hidden}
  .f_elem>*:first-child{margin-top: 0 !important;}
  .f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

  .bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

  .d_block{ display:block;}
  .d_ib{ display:inline-block;}
  .d_none{ display:none;}
  .d_tc{ display:table-cell;}
  .d_t{ display:table;}

  .d_center{
    margin-left: auto;
    margin-right: auto;
  }


/*=====================> Titles ========================*/
  h2,h3,h4{
    font-weight:normal;
  }
  .title--1{
    font-size: 115px;
    line-height: 1;
  }

  .title--2{
    font-size: 65px;
    line-height: 1;
  }

  .title--3{
    font-size: 40px;
    line-height: 1.2;
  }

  .title--4{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 2px;
  }

  .title--5{
    font-size: 18px;
    line-height: 1.2;
  }

  .title--6{
    font-size: 16px;
    line-height: 1.2;
  }

  .title--7{
    font-size: 15px;
    line-height: 1.2;
  }

  .fz12{font-size: 12px;}

  [data-title="before"]{
    position: relative;
    padding-left: 72px;
    
    &::before{
      content: "";
      width: 78px;
      height: 1px;
      left: 6px;
      bottom: 0px;
      position: absolute;
      background-color: #70F4D8;
    }
  }

  [data-title^="icon"]{
    padding-left: 38px;
  }
  [data-title="icon2"]{
    line-height: 2.2;
    background: url(../../images/icon2.png) 5px 50% no-repeat;
  }
  [data-title="icon3"]{
    line-height: 1.7;
    background: url(../../images/icon3.png) 4px 50% no-repeat;
  }


  
  [data-color="aqua"]{color: #70F4D8;}
  [data-color="white"]{color: #FFF;}
  [data-color="dark"]{color: #432E49;}
  [data-color="gray"]{color: #8C8391;}
  [data-color="gray2"]{color: #8B7890;}

  [data-font="sb"]{font-weight: 600;}


/*=====================> Content ========================*/
.page_wrap{
  overflow: hidden;
}
  
// -----------------  MAIN_BANNER  -----------------
  .main_banner{
    padding-top: 190px;
    padding-bottom: 131px;
    position: relative;
    z-index: 20000;
    
    background: url(../../images/header_bg2.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
    .btn1{
      right: 15px;
      bottom: 3px;
      padding-top: 3px;
      position: absolute;
    }

    &__inner{
      padding-left: 70px;
      position: relative;
      z-index: 999;
    }
  }

  // PARTICLES
    .particles{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.5;
    }

    .ui-datepicker-div + div{display: none !important;}


  .scheme--title{
    margin-bottom: 55px;
    
    span:first-child{
      float: left;
      margin-top: 8px;
      margin-left: 9px;
      display: inline-block;
    }
    
    &__pattern{
      top: -106px;
      left: 72.5px;
      position: absolute;
    }

    .title--4{
      float: left;
      padding-left: 23px;
      display: inline-block;
      letter-spacing: 1.6px;
      line-height: 3.2;
    }
  }


// -----------------  CALCULATE  -----------------
  .calculate{
    padding-top: 71px;
    padding-bottom: 60px;
    
    .title--3{margin-bottom: 100px;}
  }

  .tooltipster{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    position: relative;
    top: 3px;
    cursor: pointer;
    display: inline-block;
    
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    
    
    &::before{
      content: "";
      width: 15px;
      height: 15px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      display: inline-block;
      background: url(../../images/tooltip.png) 0 0 no-repeat;
    }

    &::after{
      opacity: 0;
      content: "";
      width: 15px;
      height: 15px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      display: inline-block;
      background: url(../../images/tooltip_act.png) 0 0 no-repeat;
    }
    
    &:hover{
        
      &::before{
        opacity: 0;

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      &::after{
        opacity: 1;

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
  }
  .tooltipster-sidetip .tooltipster-box{
    background: rgba(20, 13, 24, .8) !important;
    border: none !important;
  }

  .tooltipster-sidetip .tooltipster-content{
    padding: 15px 10px !important;
  }

  .tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background{
    border-top-color: rgba(20, 13, 24, 0) !important;
  }
  .tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border{
    border-top-color: rgba(20, 13, 24, .8) !important;
  }
  .tooltipster-sidetip.tooltipster-top .tooltipster-arrow{
    bottom: -2px;
  }

  .range__wrap{
    &:nth-child(3){
      margin-bottom: 60px;
      p{margin-top: 20px;}
    }

    .jq-selectbox{
      width: 138px;
      
      &__select-text{
        font-size: 10px;
        font-weight: bold;
        line-height: 3;
        text-transform: uppercase;
      }

      &__trigger-arrow{
        top: 12px;
        border-top-color: #FFF;
        border-left-width: 4px;
        border-right-width: 4px;
        border-top-width: 4px;
      }

      li{
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
      }
      
      li:hover{
        color: #2F2336;
        background-color: #70F4D8;
      }
      
      &__select{
        height: 30px;
        color: #FFF;
        border: 1px solid #6E6573;
        background-color: #2F2336;
        
        &:hover{
          color: #2F2336;
          border-color: #70F4D8;
          background-color: #70F4D8;
        }
      }

      &__dropdown{
        border: none;
        -webkit-border-radius: 0;
                border-radius: 0;
      }

    }
  }

  .range_slider{
    width: 570px;
    float: left;
    // padding-top: 15px;
    // overflow: hidden;
    
    .irs-line{
      height: 6px;
      background-color: #8C8391;
    }
      .irs-bar{
        height: 6px;
        left: 0 !important;
        background-color: #FCC314;
        -webkit-box-shadow: 0 0 5px rgba(292, 152, 20, .5);
                box-shadow: 0 0 5px rgba(292, 152, 20, .5);
      }

      .irs-slider{
        width: 0;
        height: 0;
        outline: none;
        margin-top: -9px;
        
        
        &::before{
          content: "";
          width: 30px;
          height: 30px;
          margin-left: -15px;
          display: inline-block;
          background: url(../../images/range.png) 0 0 no-repeat;
        }
      }

      .irs-single{display: none;}
    
    &--values{
      color: #8C8391;
      font-size: 14px;
      // margin-top: -7px;
      padding-top: 13px;
      
      span{
        width: 33.3%;
        float: left;
        position: relative;
        display: inline-block;
        padding-top: 10px;
      }
      
      span:first-child::before{
        content: "";
        width: 1px;
        top: -28px;
        height: 27px;
        display: inline-block;
        position: absolute;
        background-color: #8C8391;
      }
      
      span:nth-child(2){
        text-align: center;
        
        &::before{
          content: "";
          width: 1px;
          left: 50%;
          top: -22px;
          height: 13px;
          display: inline-block;
          position: absolute;
          background-color: #8C8391;
        }
      }

      span:last-child{
        text-align: right;
        
        &::before{
          content: "";
          width: 1px;
          height: 27px;
          top: -28px;
          right: -1px;
          display: inline-block;
          position: absolute;
          background-color: #8C8391;
        }
      }
    }

    &--input{
      margin-left: 30px;
      // margin-top: -4px;
      width: calc(100% - 600px);

      &__box{
        width: 100px;
        height: 48px;
        margin-right: 15px;
        position: relative;
        display: inline-block;
        
        input{
          width: 100%;
          color: #432E49;
          line-height: 48px;
          text-align: center;
          border: none;
          outline: none;
          font-weight: 600;
          font-family: 'Montserrat', sans-serif;
        }

        &::before{
          content: "";
          position: absolute;
          z-index: -1;
          top: -6px;
          right: -6px;
          left: -6px;
          bottom: -7px;
          display: inline-block;
          border: 1px solid #594F5E;
        }
      }
      
        
    }
  }

  .range_slider .ui-slider-horizontal{
    background-color: #8C8391;
    height: 6px;
    
    .ui-slider-handle{
      top: -12px;
      width: 30px;
      height: 30px;
      outline: none;
      background: url(../../images/range.png) 0 0 no-repeat;
      
      &::before{
        content: "";
        width: 999px;
        height: 6px;
        display: inline-block;
        right: 27px;
        top: 12px;
        z-index: -1;
        position: absolute;
        background-color: #FCC314;
        -webkit-box-shadow: 0 0 5px rgba(292, 152, 20, .5);
                box-shadow: 0 0 5px rgba(292, 152, 20, .5);
      }
    }
  }

  .range__title{
    margin-bottom: 25px;
    span{
      line-height: 1.5;
      display: inline-block;
      margin-right: 15px;
    }

    .min_link{
      float: left;
      margin-right: 4px;
    }
  }


  .date_wrap{
    position: relative;
    display: inline-block;

    input{
      top: 0;
      left: 0;
      // opacity: 0;
      // color: #000;
      background-color: transparent;
      width: 138px;
      height: 30px;
      cursor: pointer;
      position: absolute;
      display: inline-block;
      border: none;
      padding: 5px 16px;
      font-weight: bold;
      font-size: 10px;
      color: #FFF;
      outline: none;
      text-transform: uppercase;
    }

    .datepicker{
      width: 138px;
      height: 30px;
      color: transparent;
      font-size: 10px;
      line-height: 2.2;
      font-weight: bold;
      padding: 5px 16px;
      text-transform: uppercase;
      border: 1px solid #6E6573;
      background: url(../../images/date_arrow_up.png) 90% 52% no-repeat;
    }
  }

  .date_wrap_2 input {
    width: 100px;
    height: auto;
    color: transparent;
    font-weight: normal;
    padding: 0;
    text-transform: uppercase;
    border: none;
    background: none;
    font-size: 20px;
    color: #70F4D8;
    line-height: 24px;
    text-decoration: underline;
    position: static;
    
    &:hover {
      border-color: transparent;
      text-decoration: none;
      
    }
  }

  .date_active{
    .datepicker{
      color: transparent;
      background-image: url(../../images/date_arrow.png);
      background-color: #70F4D8;
      border-color: #70F4D8;
    }

    .datepicker__tip{
      visibility: visible;
    }

    .date_wrap input{color: #2F2336;}

    .ui-datepicker{
      z-index: 9999 !important;
      // height: auto;
      display: block;
    }

    .date_wrap_2 input {
      color: #70F4D8;
    }
    
  }

  .datepicker__tip{
    width: 250px;
    font-size: 12px;
    position: absolute;
    padding: 10px 15px;
    margin-top: 13px;
    line-height: 1.7;
    background-color: #504357;
    z-index: 10;
    
    visibility: hidden;
    
    &::before{
      content: "";
      width: 12px;
      height: 6px;
      top: -6px;
      left: 50%;
      position: absolute;
      -webkit-transform: translateX(-6px);
         -moz-transform: translateX(-6px);
          -ms-transform: translateX(-6px);
           -o-transform: translateX(-6px);
              transform: translateX(-6px);
      background: url(../../images/tip_arrow.png) 0 0 no-repeat;
    }
  }
  
  .ui-datepicker{
    width: 250px;
    display: none;
    margin-top: 72px;
    background-color: #251a2c;
    padding: 0 15px 15px;
    

    &-header{
      position: relative;
      padding: 15px;
      text-align: center;
      border-bottom: 1px solid #70F4D8;
    }
    
    &-title{
      font-size: 16px;
      text-align: center;
      font-weight: 600;
    }

    &-prev{
      position: absolute;
      width: 8px;
      height: 14px;
      left: 0;

      span{
        background: url(../../images/prev.png) 0 0 no-repeat;
      }
    }

    &-next{
      position: absolute;
      width: 8px;
      height: 14px;
      right: 0;

      span{
        background: url(../../images/next.png) 0 0 no-repeat;
      }
    }

    &-today{
      
      a{
       
        width: 100%;
        line-height: 1.8;
        display: inline-block;
        border: 1px solid #70F4D8;
        -webkit-border-radius: 2px;
                border-radius: 2px;
      }
    }


    
    &-current-day a{
      
     width: 100%;
      color: #2F2336;
      display: inline-block;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      background-color: #70F4D8;
    }

    &-other-month{
      span{
        color: #8C8391;
      }
    }

    &-calendar{
      width: 100%;
      
      tr{
        padding: 4px 0;
      }
      
      th{
        font-size: 10px;
        color: #8c8391;
        font-weight: bold;
        text-transform: uppercase;
        padding: 8px 0;
      }

      td{
        padding: 4px 0;
        text-decoration: none;
        text-align: center;
        
        a{
          line-height: 1.8;
          text-decoration: none;
        }
      }
    }

  }


  // ASIDE
    .teaser--currency_rate{
      padding: 17px 21px;
      margin-bottom: 80px;
      background-color: #251a2c;
      
      &__main_currency{
        padding-bottom: 3px;
        display: inline-block;
        letter-spacing: 0;
        border-bottom: 1px solid #70F4D8;
      }
    }

      [data-bd="bot_cent"]{
        position: relative;
        
        &::before{
          content: "";
          top: 34px;
          right: -12px;
          left: -12px;
          bottom: -12px;
          position: absolute;
          border: 1px solid #594F5E;
          z-index: -1;
        }
      }

    .teaser--currency_total{
      margin-bottom: 50px;

      &__inner{
        padding: 23px 17px;
        border-left: 1px solid #8C8391;
      }
    }


  .detail_box{
    padding: 26px 30px;
    padding-right: 70px;
    width: calc(100% - 210px);
    float: left;
    border: 1px solid #594F5E;
    
    & + .btn1{
      float: left;
      margin-left: -60px;
      margin-top: 6px;
    }
  }


// -------------  WORK  --------------
  .work{
    padding-top: 85px;
    padding-bottom: 110px;
    position: relative;
    overflow: hidden;
    background: url(../../images/bg_2.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
    &::after{
      content: "";
      position: absolute;
      z-index: 10;
      width: 100%;
      top: 0;
      bottom: 0;
      background: rgba(78, 52, 127, .4);
    }
    
    &--inner{
      position: relative;
      z-index: 100;
    }
    
    .title--3{margin-bottom: 75px;}
    
    &__info{
      
      &:nth-child(2){
        padding-bottom: 290px;
      }

      &--item{
        width: 25%;
        
        .img_box{margin-bottom: 12px;}
        .title--7{margin-bottom: 20px;}
      }
    }

    &__inner_scheme{
      top: 150px;
      width: 100%;
      position: absolute;
      
      &--step{
        
        &__box{
          
          .img_box{
            text-align: center;
            
            img{vertical-align: middle;}


            span{
              z-index: 10;
              width: 100%;
              display: inline-block;
              position: relative;
              background-color: #432E49;
            }
          }
        }

        .scheme--step1{
          margin-bottom: 110px;
          position: relative;
          
          &::before{
            content: "";
            position: absolute;
            left: 50%;
            top: 60px;
            width: 200px;
            height: 160px;
            margin-left: -210px;
            background: url(../../images/stripe.png) 0 0 no-repeat;
          }
          
          &::after{
            content: "";
            width: 190px;
            height: 133px;
            left: 53%;
            top: 93px;
            position: absolute;
            -webkit-transform: rotate(173deg);
               -moz-transform: rotate(173deg);
                -ms-transform: rotate(173deg);
                 -o-transform: rotate(173deg);
                    transform: rotate(173deg);
            background: url(../../images/arrow.png) 0 0 no-repeat;
          }
          
          .title--6{margin-bottom: 30px;}
          
          .img_box{
            width: 65px;
            height: 65px;
            line-height: 65px;
            margin-left: auto;
            margin-right: auto;
            position: relative;

            &::before{
              content: "";
              top: -6px;
              right: -4px;
              width: 100%;
              height: 100%;
              // z-index: -1;
              position: absolute;
              display: inline-block;
              border: 1px solid rgba(255, 255, 255, .16);
            }
          }
        }

        &__box__wrapper{
          margin-bottom: 110px;
        }

        .scheme--step2{
          width: 50%;
          float: left;
          text-align: right;
          padding-right: 220px;
          
          .title--6{
            display: inline-block;
            float: right;
            margin-right: 30px;
            line-height: 5.5;
          }
          
          .img_box{
            width: 77px;
            height: 77px;
            float: right;
            line-height: 77px;
            position: relative;
            
            &::before{
              content: "";
              top: 6px;
              left: -7px;
              width: 100%;
              height: 100%;
              // z-index: -1;
              position: absolute;
              display: inline-block;
              border: 1px solid rgba(255, 255, 255, .16);
            }
          }
        }

        .scheme--step3{
          width: 50%;
          float: right;
          padding-left: 237px;
          
          .title--6{
            display: inline-block;
            float: left;
            line-height: 1.5;
            padding-top: 10px;
            margin-left: 30px;
          }
          
          .img_box{
            width: 77px;
            height: 77px;
            float: left;
            line-height: 77px;position: relative;
            
            &::before{
              content: "";
              top: -6px;
              right: -7px;
              width: 100%;
              height: 100%;
              // z-index: -1;
              position: absolute;
              display: inline-block;
              border: 1px solid rgba(255, 255, 255, .16);
            }
          }
        }
        

        .scheme--step4{
          position: relative;


          &::before{
            content: "";
            position: absolute;
            left: 49%;
            top: -122px;
            width: 190px;
            height: 160px;
            margin-left: -210px;
            background: url(../../images/arrow.png) 0 0 no-repeat;
          }
          
          &::after{
            content: "";
            width: 246px;
            height: 133px;
            left: 51%;
            top: -115px;
            position: absolute;
            -webkit-transform: rotate(177deg);
               -moz-transform: rotate(177deg);
                -ms-transform: rotate(177deg);
                 -o-transform: rotate(177deg);
                    transform: rotate(177deg);
            background: url(../../images/stripe.png) 0 0 no-repeat;
          }
          
          .img_box{
            width: 65px;
            height: 65px;
            line-height: 65px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            margin-bottom: 25px;

            &::before{
              content: "";
              top: 6px;
              left: -4px;
              width: 100%;
              height: 100%;
              // z-index: -1;
              position: absolute;
              display: inline-block;
              border: 1px solid rgba(255, 255, 255, .16);
            }
          }
        }

      }

      &--inside{
        width: 385px;
        top: 210px;
        left: 50%;
        line-height: 1.2;
        position: absolute;
        transform: translateX(-193px);
        
        &__right{
          padding-bottom: 15px;
          position: relative;
          text-align: center;
          margin-bottom: 40px;
          border-bottom: 1px solid #fff;
          
          &::before{
            content: "";
            width: 14px;
            height: 9px;
            position: absolute;
            right: 0;
            top: 26px;
            background: url(../../images/arr_white.png) 0 0 no-repeat;
          }
        }
        &__left{
          border-top: 1px solid #fff;
          padding-top: 15px;
          position: relative;
          text-align: center;
          
          &::before{
            content: "";
            width: 14px;
            height: 9px;
            position: absolute;
            left: 0;
            top: -5px;
            -webkit-transform: rotate(180deg);
               -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                 -o-transform: rotate(180deg);
                    transform: rotate(180deg);
            background: url(../../images/arr_white.png) 0 0 no-repeat;
          }
        }
      }

    }

    &__details{
      width: 83%;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #86688B;
      padding: 15px 60px;
      line-height: 1.7;
      margin-top: 65px;
    }
  }
  

  .bg_wrap{
    position: absolute;
    bottom: 83%;
    left: -20%;
    
    .planet{
      position: absolute;
      z-index: 10;
      opacity: 0.6;
      top: 200px;
      animation: earth 180s infinite linear;
    }

    .sphere{
      position: absolute;
      z-index: 20;
      opacity: 0.3;
      top: -200px;
      left: -650px;
      animation: move 220s infinite linear;
    }

    @keyframes move {
      0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100%{
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes earth {
      0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100%{
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
      }
    }

  }


// ----------------  404  -----------------
  .not_found{
    overflow: hidden;
    position: relative;
    background: url(../../images/bg_404.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
    &__inner{
      padding-top: 120px;
      padding-left: 70px;
      padding-bottom: 90px;
      position: relative;
      z-index: 999;
      min-height: 80vh;
    }

    &--title{
      font-size: 180px;
      position: relative;
      line-height: 1;
      margin-bottom: 85px;
      
      &::before{
        content: "404";
        font-size: 180px;
        font-weight: 600;
        color: transparent;
        position: absolute;
        // z-index: -1;
        top: 5px;
        left: 5px;
        -webkit-text-stroke: 1px rgba(255, 255, 255, .2);
      }
    }

    .bg_wrap{
      left: 50%;
      bottom: 110%;
      -webkit-transform: translateX(-1020px);
         -moz-transform: translateX(-1020px);
          -ms-transform: translateX(-1020px);
           -o-transform: translateX(-1020px);
              transform: translateX(-1020px);
      
      .sphere{left: 0;}
      .planet{left: 180px;top: 300px;}
    }
    .border_box{margin-bottom: 70px;}
  }

  .border_box{
    padding: 15px 50px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .2);
  }


// ----------------  FAQ  -----------------
  .faq_section{
    padding-top: 30px;
    position: relative;
    overflow: hidden; 
    background: url(../../images/bg_404.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
    .bg_wrap{
      left: 0%;
      bottom: 110%;
      -webkit-transform: translateX(-700px);
         -moz-transform: translateX(-700px);
          -ms-transform: translateX(-700px);
           -o-transform: translateX(-700px);
              transform: translateX(-700px);
      
      .sphere{left: -40%;top: 30px;}
      .planet{left: 180px;top: 200px;}
    }
  }
  .faq{
    margin-bottom: 60px;
    
    &__inner{
      z-index: 999;
      min-height: 80vh;
      padding-bottom: 30px;
      position: relative;
    }
    
    &--title{
      margin-bottom: 25px;
      text-transform: uppercase;

      .img_box{
        float: left;
        width: 60px;
        margin-right: 10px;
        display: inline-block;
        text-align: center;
        img{max-width: 100%;}
      }
      h3{
        float: left;
        color: #70F4D8;
        font-size: 20px;
        line-height: 45px;
        display: inline-block;
        letter-spacing: 1px;
      }
    }

    &--content{
      padding-left: 70px;
    }
  }


// ------------------- FAQ ARTICLE ------------------
  .faq_article_section{
    padding-bottom: 80px;

    p{
      font-size: 14px;
      line-height: 1.9;
    }

    .link--prev{margin-top: 50px;}
  }

  .table{
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
    vertical-align: middle;
    border-left: 1px solid #594F5E;
    
    tr{
      height: 54px;
      border-bottom: 1px solid #594F5E;
    }
    tr:nth-child(even){background-color: #483A50;}
    tr:nth-child(odd){background-color: #3E3047;}
    tr:first-child{
      background-color: #2F2336;
      border-top: 1px solid #594F5E;
    }

    th{
      color: #70F4D8;
      font-size: 14px;
      line-height: 3.8;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
      border-right: 1px solid #594F5E;
      
      &:first-child{width: 25%;}
      &:nth-child(2){width: 25%;}
      &:nth-child(3){width: 25%;}
      &:last-child{width: 25%;}
    }
    td{
      vertical-align: middle;
      border-right: 1px solid #594F5E;
      &:first-child{width: 25%;}
      &:nth-child(2){width: 25%;}
      &:nth-child(3){width: 25%;}
      &:last-child{width: 25%;}
    }
  }

  .video_box{
    width: 854px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
  }

// MODALS
  .modal{
    color: #FFF;
    width: 570px;
    padding: 0;
    background-color: transparent;
    
    &--close{
      right: 0;
      top: -5px;
      width: 43px;
      height: 43px;
      cursor: pointer;
      position: absolute;
      text-indent: -9999px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-transition: all ease-in 0.2s;
       -moz-transition: all ease-in 0.2s;
        -ms-transition: all ease-in 0.2s;
         -o-transition: all ease-in 0.2s;
            transition: all ease-in 0.2s;
      background: #251a2c url(../../images/close.png) 0 0 no-repeat;
    }

    &--header{
      margin-bottom: 40px;
    }

      &--title{
        float: left;
        
        font-size: 25px;
        font-weight: 600;
        position: relative;
        padding-left: 55px;
        display: inline-block;
        text-transform: uppercase;
        
        &::before{
          content: "";
          width: 78px;
          height: 1px;
          bottom: -10px;
          left: 0;
          position: absolute;
          background-color: #70F4D8;
        }
      }
      .link{float: left;margin-left: 30px;}

    &--content{
      padding: 45px 35px;
      position: relative;
      background-color: #251A2C;
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .2);
              box-shadow: 0 0 15px rgba(0, 0, 0, .2);
      
      &::before{
        content: "";
        top: 48px;
        left: -15px;
        right: -15px;
        bottom: -18px;
        z-index: -1;
        position: absolute;
        border: 1px solid #584e5d;
      }
    }
  }

  // label.error{display: none;}

  .form{
    
    &__row{
      margin-bottom: 38px;
      position: relative;
      
      label{
        width: 100%;
        font-weight: 600;
        margin-bottom: 15px;
        display: inline-block;
        text-transform: uppercase;
        
        a{
          float: right;
        }
      }
   
    }

    &__input{
      position: relative;
      
      input{
        width: 100%;
        border: none;
        outline: none;
        padding: 0 10px;
        line-height: 48px;
        z-index: 10;
        position: relative;
        color: #432E49;
      }

      &::before{
        content: "";
        top: -6px;
        left: -6px;
        right: -6px;
        bottom: -6px;
        position: absolute;
        border: 1px solid #594F5E;
      }
    }

    &__btn{
      width: 280px;
      color: #432E49;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      letter-spacing: 2px;
      padding: 20px 10px;
      display: block;
      font-weight: bold;
      border: 1px solid #FCC314;
      text-transform: uppercase;
      background-color: #FCC314;
      -webkit-box-shadow: 0 0 15px rgba(252, 195, 20, .3);
              box-shadow: 0 0 15px rgba(252, 195, 20, .3);
      
      margin-top: 73px;
    }

    .error{
      // display: none;
      // color: #BF3737;
      // font-size: 12px;
      // right: 0;
      // position: absolute;
    }
    span.error{display: none;}

    label.error{
      position: absolute;
      right: 0;
      color: red;
      text-align: right;
      bottom: -38px;
      font-weight: 400;
      text-transform: lowercase;
    }

    .recaptcha{
      &__img{
        width: 115px;
        height: 30px;
        float: left;
        margin-right: 10px;
        text-align: center;
        background-color: #FFF;
      }

      .img_box{
        img{max-width: 100%;}
      }

      &__new{
        font-size: 10px;
        text-decoration: underline;
      }

      .form__input input{
        float: left;
        width: calc(100% - 125px);
      }
    }

    .invalid{
      
      .form__input::before{
        border-color: #BF3737;
      }

      input{color: #BF3737;}

      .error{display: block;margin-top: 8px;}
    }
  }

  .arcticmodal_container_box{
    
  }

  .link{
    width: 140px;
    line-height: 2.9;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #716877;
    background-color: #35273C;
    text-decoration: none;
  }


/*=====================> Paragraphs ========================*/

  p {margin-bottom:18px; line-height: 1.5;}
  .mb1{ margin-bottom:1px;}
  .mb2{ margin-bottom:2px;}
  .mb3{ margin-bottom:3px;}
  .mb4{ margin-bottom:4px;}
  .mb5{ margin-bottom:5px;}
  .mb6{ margin-bottom:6px;}
  .mb7{ margin-bottom:7px;}
  .mb8{ margin-bottom:8px;}
  .mb9{ margin-bottom:9px;}
  .mb10{ margin-bottom:10px;}
  .mb11{ margin-bottom:11px;}
  .mb12{ margin-bottom:12px;}
  .mb13{ margin-bottom:13px;}
  .mb14{ margin-bottom:14px;}
  .mb15{ margin-bottom:15px;}
  .mb16{ margin-bottom:16px;}
  .mb17{ margin-bottom:17px;}
  .mb18{ margin-bottom:18px;}
  .mb19{ margin-bottom:19px;}
  .mb20{ margin-bottom:20px;}
  .mb21{ margin-bottom:21px;}
  .mb22{ margin-bottom:22px;}
  .mb23{ margin-bottom:23px;}
  .mb24{ margin-bottom:24px;}
  .mb25{ margin-bottom:25px;}
  .mb26{ margin-bottom:26px;}
  .mb27{ margin-bottom:27px;}
  .mb28{ margin-bottom:28px;}
  .mb29{ margin-bottom:29px;}
  .mb30{ margin-bottom:30px;}
  .mb31{ margin-bottom:31px;}
  .mb32{ margin-bottom:32px;}
  .mb33{ margin-bottom:33px;}
  .mb34{ margin-bottom:34px;}
  .mb35{ margin-bottom:35px;}
  .mb36{ margin-bottom:36px;}
  .mb37{ margin-bottom:37px;}
  .mb38{ margin-bottom:38px;}
  .mb39{ margin-bottom:39px;}
  .mb40{ margin-bottom:40px;}
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb58{ margin-bottom:58px;}
  .mb62{ margin-bottom:62px;}
  .mb75{ margin-bottom:75px;}
  .mb95{ margin-bottom:95px;}

  .mr20{margin-right: 20px;}
  .mr25{margin-right: 25px;}

  .mt25{margin-top: 25px;}
  .mt40{margin-top: 40px;}


/*=====================> Lists <========================*/
  .list1{
    font-size: 18px;
    line-height: 1.2;
    
    li{
      position: relative;
      padding-left: 30px;
      
      &:not(:last-child){
        margin-bottom: 19px;  
      }
      
      
      &::before{
        content: "";
        top: 16px;
        width: 18px;
        height: 1px;
        left: -1px;
        position: absolute;
        background-color: #68CEBD;
      }
    }
  }

  .list2{
    
    li{}

    a{
      font-weight: 600;
      line-height: 2;
      letter-spacing: 0.5px;
      text-decoration: none;
      text-transform: uppercase;
      
      &:hover{
        color: #FCC314;
      }
    }
  }

  .list3{
    li{
      margin-bottom: 5px;
      position: relative;
      
      &::before{
        content: "-";
        position: absolute;
        left: 0;
        top: 10px;
      }
    }

    a{
      width: 100%;
      line-height: 2.5;
      font-size: 15px;
      padding-left: 9px;
      display: inline-block;
      
      &:hover{
        color: #70F4D8;
        text-decoration: none;
      }
    }
  }

  .list4{
    li{
      position: relative;
      text-indent: 9px;
      line-height: 1.8;
      font-size: 14px;
      margin-bottom: 15px;
      
      &::before{
        content: "";
        left: 0px;
        top: 10px;
        width: 3px;
        height: 3px;
        position: absolute;
        background-color: #FFF;
        -webkit-border-radius: 50%;
                border-radius: 50%;
      }
    }
  }

  .determ_list{
    dt{
      width: 32%;
      font-weight: 600;
    }
    dd{
      width: 68%;
    }

    dt,dd{
      float: left;
      font-size: 18px;
      line-height: 2.2;
    }
  }

  .determ_list2{
    dt{
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 14px;
      // display: inline-block;
    }
    dd{
      font-size: 20px;
      color: #70F4D8;
      // display: inline-block;
      
      &:not(:last-child){
        margin-bottom: 36px;
      }
    }

  }

  .determ_list3{
    dt{
      width: 45%;
      float: left;
      line-height: 2.5;
      color: #8C8391;
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;
    }
    dd{
      width: 55%;
      float: left;
      line-height: 2.5;
    }
  }


/*================================>> hovers <<========================================*/
  a{
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
      
      &:hover{
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
      }
  }

  .btn1{
    width: 270px;
    color: #432E49;
    font-weight: bold;
    line-height: 4.4;
    text-align: right;
    display: inline-block;
    position: relative;
    text-decoration: none;
    background-color: #FCC314;
    padding: 0 20px;
    letter-spacing: .8px;
    -webkit-box-shadow: 0 0 15px rgba(252, 195, 20, .3);
            box-shadow: 0 0 15px rgba(252, 195, 20, .3);
    
    &::before{
      content: "";
      width: 83px;
      height: 9px;
      position: absolute;
      left: 25px;
      top: 43%;
      background: url(../../images/arr_dark.png) 0 0 no-repeat;
    }

    &:hover{
      opacity: 0.7;
    }
  }

  .btn2{
    width: 280px;
    color: #432E49;
    font-weight: bold;
    line-height: 4.4;
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    background-color: #FCC314;
    padding: 0 20px;
    letter-spacing: .8px;
    -webkit-box-shadow: 0 0 15px rgba(252, 195, 20, .3);
            box-shadow: 0 0 15px rgba(252, 195, 20, .3);

    &:hover{
      opacity: 0.7;
    }
  }

  .min_link{
    width: 65px;
    line-height: 3;
    font-size: 10px;
    margin-right: 1px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    border: 1px solid rgba(255, 255, 255, .3);
    
     &:hover{
        border-color: rgba(255, 255, 255, .9);
      }
      
      &.active{
        color: #2F2336;
        border-color: #70F4D8;
        background-color: #70F4D8;
      }
  }
  
  .link--mail{
    font-size: 15px;
    padding-left: 35px;
    background: url(../../images/mail_icon.png) 0 50% no-repeat;
  }

  .link--prev{
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #7A6E81;
    padding: 16px 39px 16px 78px;
    text-decoration: none;
    background: url(../../images/arrow_left_gray.png) 22px 50% no-repeat;
    
    &:hover{
      border-color: #FFF;
    }
  }



/*===================== PLACEHOLDER ========================*/
  .date_wrap input::-webkit-input-placeholder{color: #FFF; font-weight: bold;}
  .date_wrap input::-moz-placeholder{color: #FFF; font-weight: bold;}
  .date_wrap input:-moz-placeholder{color: #FFF; font-weight: bold;}
  .date_wrap input:-ms-input-placeholder{color: #FFF; font-weight: bold;}


  ::selection{
    color: #fff;
    background-color: #70F4D8
  }
  ::-moz-selection{
    color: #fff;
    background-color: #70F4D8;
  }
  ::-webkit-scrollbar{
    background: #251a2c;  
    width: 10px;
  }

  ::-webkit-scrollbar-thumb{
    background: #70F4D8;
  }
  ::-webkit-input-placeholder{
    color:#505050;
    -webkit-transition: text-indent .5s ease, color .5s ease;
    transition: text-indent .5s ease, color .5s ease;
  }
  input::-moz-placeholder{
    color:#505050;
    opacity:1;
  }
  textarea::-moz-placeholder{
    color: #505050;
    opacity: 1;
  }
  ::ms-input-placeholder{
    color:#505050;
  }
  [placeholder]:focus::-webkit-input-placeholder{
    text-indent:10em;
    color:transparent;
  }


/*-----------  DEFAULT responsive  ----------*/

  @media only screen and (max-width: 1650px) {
    .scheme--title__pattern{left: 72px;}
    .faq_section{padding-top: 110px;}
  }

  @media only screen and (max-width: 1440px) {
    .bg_wrap .sphere{
      // top: 85px;
      // left: -120px;
    }  
  }

  @media only screen and (max-width: 1280px) {
    .title--3{
      font-size: 36px;
    }
    .calculate .title--3{margin-bottom: 50px;}

    .teaser--currency_rate{
      padding: 15px;
    }
      [data-title^="icon"]{padding-left: 33px;font-size: 13px;}
      [data-title="icon2"]{
        -webkit-background-size: 18px 30px;
             -o-background-size: 18px 30px;
                background-size: 18px 30px;
      }

    .range_slider{
      width: 60%;
      
      &--input{
        width: 35%;
      }
    }

    .determ_list2{
      dt{font-size: 14px;margin-bottom: 7px;}
      dd{font-size: 18px;}
    }
  }

  @media only screen and (max-width: 1199px) {
    .detail_box + .btn1{margin-top: 14px;}

    .work__details{text-align: center;}
    
  }

  @media only screen and (max-width: 1024px) {

  }

  @media only screen and (max-width: 991px) {
    // body{min-width:768px;}

    .main_banner{padding-top: 120px;}
      .title--1{font-size: 73px;}
      .title--2{font-size: 42px;}

      .scheme--title__pattern{
        width: 70%;
        top: -49px;
        left: 78.5px;
        
        img{max-width: 100%;}
      }

    .range_slider--values span:last-child::before{right: 0;}

    .main_banner__inner{
      padding-left: 0;
    }
    .main_banner{
      padding-bottom: 30px;
      .btn1{
        left: 0;
        margin-top: 20px;
        position: relative;
      }
    }

    .range__wrap:last-child{margin-bottom: 45px;}

    .teaser--currency_rate{
      width: 47%;
      float: left;
    }

    .teaser--currency_total{
      width: 40%;
      float: right;
    }

    .detail_box + .btn1{margin-top: 21px;}
    
    .work__inner_scheme{
      top: 210px;
      
      // &--step__box__wrapper{margin-bottom: 30px;}
      &--step .scheme--step2 .title--6{margin-right: 0;}
      &--step .scheme--step3 .title--6{margin-left: 0;}
    }

    .not_found{
      .title--3{font-size: 24px;}
      .title--4{font-size: 18px;}
      &--title{
        font-size: 100px;
        margin-bottom: 20px;
        &::before{font-size: 100px;}
      }

    }

    .faq_section{padding-top: 85px;padding-bottom: 40px;}
    .faq__inner .title--3{margin-bottom: 40px;}

    .faq{
      margin-bottom: 30px;
      &--title{margin-bottom: 0;}
    }

    .video_box{width: 100%; height: 400px;}
  }

  @media only screen and (max-width: 768px) {
    [data-title="before"]{padding-left: 30px;
      &::before{bottom: -5px;}}
    .title--3{font-size: 23px;}

    .main_banner{
      padding-top: 75px;
      padding-bottom: 15px;
      
      .title--1{margin-bottom: 10px;}
    }

    .range__title{
      margin-bottom: 0;
      
      span{width: 100%;}
    }

    .range_slider{
      width: 100%;
      
      &--input{
        width: 200px;
        float: left;
        margin-left: 0;
        margin-top: 20px;
      }
    }
    .teaser--currency_total{width: 46%;}

    .detail_box{
      width: 100%;
      float: none;
      padding: 15px;
      padding-right: 15px;
      text-align: center;
    }

    .detail_box + .btn1{
      float: none;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .work__info{
      &--item{
        width: 49%;
      }
      &:nth-child(2){
        padding-bottom: 30px;
      }
    }


    .work__inner_scheme{
      position: relative;
      top: unset;
      
      &--inside{
        width: 250px;
        -webkit-transform: translateX(-125px);
           -moz-transform: translateX(-125px);
            -ms-transform: translateX(-125px);
             -o-transform: translateX(-125px);
                transform: translateX(-125px);
      }
      
      &--step .scheme--step2{
        padding-right: 140px;
      }
      &--step .scheme--step3{
        padding-left: 140px;
      }

      &--step .scheme--step1::after{
        left: 51%;
        top: 65px;
        width: 135px;
        -webkit-transform: rotate(190deg);
           -moz-transform: rotate(190deg);
            -ms-transform: rotate(190deg);
             -o-transform: rotate(190deg);
                transform: rotate(190deg);
      }

      &--step .scheme--step1::before{
        left: 60%;
        top: 37px;
        width: 170px;
        -webkit-transform: rotate(-17deg);
           -moz-transform: rotate(-17deg);
            -ms-transform: rotate(-17deg);
             -o-transform: rotate(-17deg);
                transform: rotate(-17deg);
      }

      &--step .scheme--step4::before{
        left: 60%;
        top: -104px;
        width: 180px;
        -webkit-transform: rotate(15deg);
           -moz-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
             -o-transform: rotate(15deg);
                transform: rotate(15deg);
      }

      &--step .scheme--step4::after{
        left: 41%;
        top: -105px;
        -webkit-transform: rotate(161deg);
           -moz-transform: rotate(161deg);
            -ms-transform: rotate(161deg);
             -o-transform: rotate(161deg);
                transform: rotate(161deg);
      }
      
    }
    .work{
      padding-top: 40px;
      padding-bottom: 60px;
      
      .title--3{
        margin-bottom: 30px;  
      }
    }

    .work__details{
      width: 100%;
      padding: 15px;
    }

    .arcticmodal-container_i2{
      padding: 15px;
    }
    .modal{
      width: 270px;
      
      &--title{
        font-size: 20px;
      }
      &--content{
        padding: 25px 15px;
      }

      .link{
        margin-left: 56px;
        margin-top: 25px;
      }
    }

    .form{
      &__input input{
        line-height: 36px;
      }
      
      &__row label{
        font-size: 13px;
        margin-bottom: 10px;
      }
        &__row label a{
          font-size: 10px;
          line-height: 2;
        }

      &__row{margin-bottom: 25px;}

      .recaptcha__img{
        height: 24px;
        
        .img_box{height: 100%;}
      }

      p{font-size: 13px;}
    }

    .work__info--item{
      width: 100%;
      float: none;
    }

    .scheme--title{
      margin-bottom: 10px;
      
      .title--4{
        font-size: 11px;
        line-height: 6;
        letter-spacing: 0;
          line-height: 5;
        padding-left: 10px;
      }
    } 

    .work__inner_scheme--step__box__wrapper{margin-bottom: 30px;}
    .work__inner_scheme--step .scheme--step1::before{
      left: 62%;
      -webkit-transform: rotate(-13deg);
         -moz-transform: rotate(-13deg);
          -ms-transform: rotate(-13deg);
           -o-transform: rotate(-13deg);
              transform: rotate(-13deg);
    }


    .teaser--currency_rate,
    .teaser--currency_total{
      width: 100%;
      float: none;
    }
    
    .title--2{font-size: 24px;}
    .title--1{font-size: 45px;}
    .title--3{font-size: 16px;}
    .title--4{font-size: 16px;}
    .title--5{font-size: 14px;}

    .list1 li{
      font-size: 14px;
      &::before{
        top: 12px;
      }
    }
    .list4 li{font-size: 13px;}

    .calculate{
      padding: 30px 0;
      
      .title--3{margin-bottom: 30px;}
    }

    .not_found__inner{
      padding-top: 80px;
      padding-left: 0;
      padding-bottom: 55px;
      min-height: auto;
    }
    .not_found .title--4{font-size: 13px;}
    .not_found .title--3{font-size: 21px;}

    .faq_section{
      padding-top: 65px;
    }
    .list3 a{line-height: 1.7;font-size: 13px;}
    .list3 li::before{top: 3px;}

    .faq{
      &--title{
        .img_box{
          width: 40px;
        }

        h3{line-height: 40px;}
      }
      &--content{padding-left: 50px;}
    }
    

    .video_box{height: 350px;}

    .faq_article_section p{font-size: 13px;line-height: 1.5;}

    .table tr{height: 65px;}
  }


  
  @media only screen and (max-width: 479px) {
    // body{min-width:300px;}
    .work__inner_scheme--step .scheme--step2{
      padding-right: 75px;
    }
    .work__inner_scheme--step .scheme--step3{
      padding-left: 75px;
    }

    .work__inner_scheme--inside{
      width: 300px;
      -webkit-transform: translateX(-150px);
         -moz-transform: translateX(-150px);
          -ms-transform: translateX(-150px);
           -o-transform: translateX(-150px);
              transform: translateX(-150px);
    }
    .work__inner_scheme--inside{top: 200px;}
    .work__inner_scheme--inside__right{
      margin-bottom: 60px;
    }

    .modal--header{margin-bottom: 20px;}

    .range_slider--values span{font-size: 11px;}

    
    .work__inner_scheme--step .scheme--step1::before{left: 69%;}

    .scheme--title span:first-child{
      margin-left: 0;
      width: 30px;
      img{max-width: 100%;}
    }
    .scheme--title .title--4{line-height: 4.5;}

    .work__inner_scheme--step .scheme--step3 .title--6{padding-top: 30px;font-size: 12px;}
    .work__inner_scheme--step .scheme--step2 .title--6{padding-top: 15px;font-size: 12px;}

    .teaser--currency_total{margin-bottom: 10px;}
    .teaser--currency_rate{margin-bottom: 50px;}

    .scheme--title__pattern {
      top: 0px;
      left: 2px;
      width: 100%;
    }

    .btn1{line-height: 4;}

    .range__wrap {margin-bottom: 50px;}

    .faq--title{margin-bottom: 15px;}
    .faq--content{padding-left: 0;}
    .faq--title h3{font-size: 15px;}
    .faq{margin-bottom: 15px;}
    .faq_section{padding-bottom: 0;}

    .video_box{height: 250px;}

    .table{
      display: inline-block;
      
      tr{
        height: auto;
        padding: 10px;
        margin-top: -3px;
        display: inline-block;

        &:first-child{display: none;}
      }
      
      td:first-child,
      td:nth-child(2),
      td:nth-child(3),
      td:last-child{
        width: 100%;
        float: left;
        display: inline-block;
      }


      td{
        &::before{
          content: attr(data-content);
          color: #70F4D8;
          text-transform: uppercase;
          display: inline-block;
          width: 100%;
        
        }
      }
      td:first-child{
        &::before{
          // content: attr(data-content);
        }
      }
      td:nth-child(2){}
      td:nth-child(3){}
      td:last-child{}

      th,td{
        border-right: none;
        
        &:not(:last-child){margin-bottom: 10px;}
      }
    }
    .border_box{padding: 15px;}
    .not_found .border_box{margin-bottom: 30px;}
  }


  


  
