.footer{

  padding: 30px 40px;
  position: relative;
  z-index: 40000;
  background-color: #2F2336;
  
  -webkit-box-shadow: 0 -36px 67px rgba(47, 35, 54, 1);
          box-shadow: 0 -36px 67px rgba(47, 35, 54, 1);
  
  &--title{
    font-size: 18px;
    margin-bottom: 45px;
    position: relative;
    
    &::before{
      content: "";
      width: 36px;
      height: 1px;
      left: -40px;
      top: 21px;
      display: inline-block;
      position: absolute;
      background-color: #61CBB6;
    }
  }

  .list2{
    display: inline-block;
    margin-right: 75px;
  }


  &__col{
    width: 40%;
    float: left;
  }

  .copyrights{
    line-height: 25px;
    a{
      display: inline-block;
      margin-right: 50px;
      margin-left: 10px;
      line-height: 1;
      
      img{
        display: inline-block;
        vertical-align: middle;
      }
    }

    br{display: none;}
  }
}


/*--------  FOOTER responsive  -------*/
  @media only screen and (max-width: 1600px) {
    
    .footer__col{
      width: 47%;
    }

  }

  @media only screen and (max-width: 1440px) {
    .footer__col{
      width: 50%;
    }
  }

  @media only screen and (max-width: 1366px) {
    .footer__col{
      &:first-child{width: 55%;}

      &:last-child{width: 40%;}
    }
  }

  @media only screen and (max-width: 1280px) {
    .footer__col{
      &:first-child{width: 60%;}

      &:last-child{width: 35%;}
    }
  } 

  @media only screen and (max-width: 1024px) {
    .footer__col{
      &:first-child{width: 70%;}


      &:last-child{width: 30%;}
    }
  } 

  @media only screen and (max-width: 991px) {
    .footer__col{
      &:first-child{width: 75%;}


      &:last-child{width: 25%;}
    }

  }  
  
  @media only screen and (max-width: 768px) {
    .footer .copyrights{
      text-align: left;
    }

    .footer__col:first-child,
    .footer__col:last-child{
      width: 100%;
      float: none;
      margin-bottom: 20px;
    }

    .footer--title{margin-bottom: 20px;}
  }  

  @media only screen and (max-width: 550px) {
    
    .footer .list2{margin-right: 0;}
    .footer .copyrights{
      // br{display: block;}
      a{margin-right: 0;}
    }

    .list2 a{font-size: 12px; }
  }

  @media only screen and (max-width: 667px) {

  }

  @media only screen and (max-width: 360px) {
    .footer{
      padding: 30px 0;
    }
    .footer__col{
      padding-left: 30px;
    }
  }