header{
  padding-top: 50px;
  position: fixed;
  width: 370px;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 80000;
  
}
    .logo{
      margin-left: 40px;
      margin-bottom: 45px;
      // float: left;
    }
      .logo a{

      }

    nav{
      // padding: 25px 0 22px;
      padding-left: 40px;
    }

    .lang{
      margin-bottom: 30px;
      font-size: 13px;
      position: relative;
      margin-right: 15px;
      cursor: pointer;
      
      &:hover &__text{
        border-color: rgba(255, 255, 255, 1);
      }
      
      &__text{
        width: 80px;
        display: inline-block;
        padding: 8px 30px 8px 10px;
        border: 1px solid rgba(255, 255, 255, .3);
        background: url(../../images/date_arrow_up.png) 90% 50% no-repeat;
        

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      

      &__list{
        width: 80px;
        left: 0;
        right: 0;
        opacity: 0;
        margin-top: -1px;
        position: absolute;
        z-index: 999;
        background: rgba(37, 26, 44, 1);
        border: 1px solid rgba(255, 255, 255, .3);
      }
        &__link{
          width: 100%;
          padding: 5px 10px;
          display: inline-block;
          text-decoration: none;
          text-transform: uppercase;
          
          &:hover{
            color: #432E49;
            background-color: #70F4D8;
          }
        }
  
      &.lang_opened{
        .lang__list{opacity: 1;}
      }
      
    }

    .menu{
      margin-bottom: 40px;
      
      &__item{
        
      }

      &__link{
        padding: 12px 0;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        letter-spacing: .5px;
        
        &:hover{
          color: #FCC314;
        }

        &.active{
          
          span::after{
            content: "";
            display: inline-block;
            left: -200px;
            right: 0;
            height: 2px;
            min-width: 100%;
            position: absolute;
            bottom: 10px;
            background-color: #70F4D8;
          }
        }
      }
    }

    .login{
      width: 100px;
      font-size: 13px;
      line-height: 3.65;
      font-weight: bold;
      text-align: center;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: .5px;
      border: 1px solid rgba(255, 255, 255, .3);
      
      &:hover{
        color: #2F2336;
        border-color: #70F4D8;
        background-color: #70F4D8;
      }
    }

    .menu_btn{display: none;}
    .nav_title{
      display: none;
      position: absolute;
      left: 50%;
      margin-left: -35px;
      top: 45%;
    }
    .menu_close{display: none;}


  .menu_btn{
    display: none;
    
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../../images/menu.png) 0 0 no-repeat;
  }

  .menu_close{
    display: none;
    
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../../images/close2.png) 0 0 no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }

  .nav_overlay{
    .menu_btn{display: inline-block;}
  }



  .breadcrumbs{
    padding-left: 79px;
    margin-bottom: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    &--link{      
      position: relative;
      display: inline-block;
      
      &::after{
        content: "/";
        padding: 0 7px;
        display: inline-block;
      }
    }

    &--current{
      
    }
  }
  
  .authorized_user{
    .login{display: none;}
  }

  .authorized{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &--submenu_link{
      max-width: 100%;
      font-weight: bold;
      margin-left: -41px;
      margin-bottom: 20px;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      padding: 16px 30px 16px 45px;
      border: 1px solid rgba(255, 255, 255, .3);
      background: url(../../images/arrow2.png) 15px 50% no-repeat;
    }

    &--submenu{
      position: fixed;
      left: -350px;
      top: 0;
      z-index: 99990000;
      width: 350px;
      height: 100%;
      overflow: auto;
      max-width: 100%;
      background-color: #261A2D;
      padding: 45px 20px 20px 45px;
      
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      
      &--logo{
        margin-bottom: 60px;
      }

      &--close{
        right: 20px;
        cursor: pointer;
        margin-top: -88px;
        position: absolute;
        &:hover{opacity: 0.7;}
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }

      .title--4{margin-bottom: 45px;}

      &--important{
        color: #2F2336;
        padding: 10px 30px;
        margin-bottom: 35px;
        margin-left: -30px;
        background-color: #70F4D8;
        
        p{margin-bottom: 0;}
        a{color: #2F2336;}
      }

      &--box{
        margin-bottom: 13px;
        padding-bottom: 3px;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        
        &__title{
          span{
            float: left;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.7;
            display: inline-block;
          }
          .ethereum{
            padding-left: 24px;
            background: url(../../images/icon6.png) 0 50% no-repeat;
          }
          a{
            float: right;
            display: inline-block;
          }
        }
      }
      

      &--footer{
        line-height: 2;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid rgba(255, 255, 255, .2);
        
        .authorized--private_office{display: inline-block;}
        
        .logout{display: inline-block;float: right;}
      }
    }

    &--title{
      color: #8C8391;
      font-size: 12px;
      padding-left: 25px;
      margin-bottom: 10px;
      background: url(../../images/user_icon.png) 0 50% no-repeat;
    }

    &--user{
      margin-bottom: 18px;
    }

    &--private_office{
      
    }

    .logout{
      padding-left: 38px;
      background: url(../../images/logout.png) 0 50% no-repeat;
    }
    
  }

  .submenu_overlay{
    .authorized--submenu{
      left: 0px;
    }
  }


/*--------  HEADER responsive  -------*/

  @media only screen and (max-width: 1850px) {
    header{
      width: 240px;
    }
    
    .logo{
      // width: 250px;
      max-width: 100%;
      margin-left: 20px;
      img{max-width: 100%;}
    }

    nav{
      padding-left: 20px;
    }

    .authorized--submenu_link{
      margin-left: -21px;
      padding: 16px 20px 16px 45px;
    }
      
  }

  @media only screen and (max-width: 1650px) {
  
    header{
      width: 100%;
      position: fixed;
      padding-right: 20px;
      bottom: unset;
      height: auto;
      padding-top: 20px;
      background-color: rgba(37, 26, 44, .5);
    }

    nav{
      width: calc(100% - 210px);
      float: left !important;
      padding-left: 20px;
    }

    .logo{
      float: left;
      margin-bottom: 20px;
      width: 190px;
      
    }
    .lang{
      float: left;
      margin-bottom: 0;
      margin-right: 25px;
      margin-top: 10px;
    }
    .menu{
      float: left;
      margin-top: 8px;
      margin-bottom: 0;
      
      &__item{
        display: inline-block;
        margin: 0 10px;
        
        
      }
      &__link.active span::after {
          left: 0px;
        }
    }

    .login{float: right;}

    .authorized--submenu_link{
      width: 115px;
      font-size: 10px;
      display: inline-block;
      margin-left: 5px;
      padding: 10px 20px 10px 35px;
    }
    .authorized--title,
    .authorized--user,
    .authorized--private_office{display: none;}

    .authorized--submenu{
      padding: 45px 20px 20px 30px;
    }
    .authorized--submenu--important{margin-left: 0;}

  }

  @media only screen and (max-width: 1200px) {

    nav{width: calc(100% - 195px);}
    .logo{
      width: 150px;
    }

    .login{
      width: 90px;
      line-height: 3;
    }

    .lang{
      margin-top: 3px;
      margin-right: 15px;
    }
      .min_link{width: 40px;line-height: 2.5;}

    .menu{
      margin-top: 2px;
      
      &__item{
        margin: 0 5px;
      }
      &__link{
        font-size: 11px;
      }
    }

    .authorized--submenu_link{
      font-size: 9px;
      padding: 5px 20px 5px 35px;
    }
  }    
  

  @media only screen and (max-width: 991px) {
    nav{
      width: 250px;
      position: fixed;
      right: -250px;
      left: unset;
      top: 0;
      bottom: 0;
      height: auto;
      overflow: auto;
      padding: 40px 10px 10px 20px;
      background-color: #251A2C;
      
      
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    .lang,
    .menu,
    .login{float: none;}

    .lang{margin-bottom: 30px;}

    .menu{
      margin-bottom: 30px;
      &__item{
        width: 100%;
        display: block;
      }
    }

    .menu_close{
      display: block;
      position: absolute;
      right: 20px;
      top: 15px;
    }
    .menu_btn{display: inline-block;}


    .nav_overlay{
      nav{right: 0;}
    }

    .authorized--submenu{
      left: unset;
      right: -350px;
    }

    .submenu_overlay .authorized--submenu{
      right: 0;
      left: unset;
    }
  }

  @media only screen and (max-width: 768px) {
    header{padding-top: 10px;}
    .logo{margin-bottom: 10px;}

    .menu_btn{margin-top: 3px;}

    .breadcrumbs{padding-left: 0;}

    .authorized--submenu{
      width: 300px;
      padding: 15px;
    }
    .authorized--submenu--logo{
      margin-bottom: 20px;
      img{max-width: 100%;}
    }
    .authorized--submenu .title--4{margin-bottom: 20px;}
    .authorized--submenu--close{margin-top: -63px;}
    .authorized--submenu--important{padding: 10px;}
  }
